
<h1>Lists Index</h1>
<body class="fond_list_index">


<div class="list_container">
<%= image_tag 'https://www.pixelstalk.net/wp-content/uploads/2016/06/South-Park-Wallpapers-HD-Pictures.jpg', width:'600px' %>
<div class='list-grid'>
<% @lists.each do |list| %>




<%= link_to list_path(list) do %>



<div class="list-card">
<div class="list-image">
</div>
</br>
<div class="decoration-none"><%= list.name%></div>
</br></br>
<div class='list-details-btn'>

</div>
</div>


<% end %>


<% end %>
</div>
</div>

<%= link_to 'create New', new_list_path %>

</body>
