<h1 class="page-title">Lists Index</h1>
<body class="lists-page">

  <div class="banner-container">
    <%= image_tag 'https://cdn.pixabay.com/photo/2016/01/22/08/17/banner-1155437_960_720.png', class: 'banner-image' %>
  </div>

  <div class="list-container">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: 'list-card-link' do %>
        <div class="list-card">
          <div class="list-card-name"><%= list.name %></div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="new-list-container">
    <%= link_to 'Create New', new_list_path, class: 'btn btn-primary new-list-btn' %>
  </div>

</body>
