<div class="dark-background">
<h1 class="new-list">New List</h1>

<body class="container, dark-background">
<%= simple_form_for(@list) do |f| %>
  <div class="new-list">
  <%= f.input :name %>
  <%= f.submit %>
  </div>
<% end %>
<%= link_to 'back to all', root_path %>
</body>
</div>
