<body class="backgroundColor">
<div class="my-5 container d-flex justify-content-center align-items-center">

  <div class="row">
    <div id="movie-show-title" class="col-12 col-sm-12 col-xl-12">
      <div class="content-box">
        <h1 style="color:white;"><%= @movie.title %></h1>
      </div>
    </div>

    <div id="image" class="col-12 col-sm-12 col-xl-6">
      <div class="content-box">
        <%= image_tag @movie.poster_url, width:'400px' %>
      </div>
    </div>

    <div id="overview" style="color:white;font-size:24px" class="col-12 col-sm-6 col-xl-6">
      <%= @movie.overview %>
    </div>
  </div>
  </div>
</body>
